doctype
html
  head
    title 3DNA
    link(rel='stylesheet', href='/stylesheets/main.css')
    body
      p Load one or more 3D genomes for viewing and comparison:
      form(action='/load3D', method='post', enctype='multipart/form-data')
        | A&nbsp;&hercon;&nbsp;
        input(type='file', name='coordinatesA')
        br
        | B&nbsp;&hercon;&nbsp;
        input(type='file', name='coordinatesB')
        br
        | C&nbsp;&hercon;&nbsp;
        input(type='file', name='coordinatesC')
        br
        | D&nbsp;&hercon;&nbsp;
        input(type='file', name='coordinatesD')
        br
        p Optionally load external data values:
        input(type='file', name='external')
        br
        p As well as gene locations:
        input(type='file', name='genes')
        br
        br
        input(type='submit', value='Load')
      br
      hr
      p 3D coordinates file format:
      div.code
        | 0 <span>\t</span> chr1 3000000 <span>\t</span> -10.0000 <span>\t</span> 10.0000 <span>\t</span> 0.0000
        | 1 <span>\t</span> chr1 4000000 <span>\t</span> 0.0000 <span>\t</span> -10.0000 <span>\t</span> 10.0000
        | 2 <span>\t</span> chr1 5000000 <span>\t</span> 10.0000 <span>\t</span> 0.0000 <span>\t</span> -10.0000
      br
      p 2D distances file format:
      div.code
        | hic|mm9|ch1:2000000 <span>\t</span> 0 <span>\t</span> 0 <span>\t</span> 0 <span>...\n</span>
        | hic|mm9|ch1:3000000 <span>\t</span> 0 <span>\t</span> 0 <span>\t</span> 0 <span>...\n</span>
        | hic|mm9|ch1:4000000 <span>\t</span> 0 <span>\t</span> 0 <span>\t</span> 0 <span>...\n</span>
      br
      p External data file format:
      div.code
        | variable1 <span>\t</span> variable2 <span>\t</span> variable3
        | 1.000000 <span>\t</span> 1.000000 <span>\t</span> 0.000000
        | 0.000000 <span>\t</span> 1.000000 <span>\t</span> 1.000000
        | 1.000000 <span>\t</span> 0.000000 <span>\t</span> 1.000000
      p Gene location file format:
      div.code
        | chr1 <span>\s</span> 3204562-3661579 <span>\s</span> NM_001011874 <span>\s</span> Xkr4
        | chr1 <span>\s</span> 4333587-4350395 <span>\s</span> NM_011283 <span>\s</span> Rp1
        | chr1 <span>\s</span> 4481008-4486494 <span>\s</span> NM_011441 <span>\s</span> Sox17
