doctype
html
  head
    title 3DNA
    link(rel='stylesheet', href='/stylesheets/interface.css')
    body
      #left
        #controls
          input#search(type='text' placeholder='search')
          #settings
            .set
              select#node
                option(value='chromosome') chromosome
                option(value='1Mb') 1Mb bin
              span.icon &ocir;
            .set
              select#link
                option(value='and') centroid   
              span.icon &origof;
              br
              input#threshold(type='range' value=50 min=0 max=100 step=1)
        #unpin &Cross; &cirmid;&nbsp;
        #linear
        #graph
          #main
            div.title.main
              | struct
            #navigation
              .nav
                span.icon &oast;
                | genome
      #genomes
      script.
        var data = !{data}
      script(type='x-shader/x-vertex' id='vertexShader').
        varying vec2 vUv;
        varying float noise;
        attribute float alpha;
        varying float vAlpha;
        varying vec3 vColor;
        void main() {
          vAlpha = alpha;
          vUv = uv;
          vColor = color;
          gl_PointSize = 1.1;
          gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
      script(type='x-shader/x-fragment' id='fragmentShader').
        varying vec2 vUv;
        varying float noise;
        varying float vAlpha;
        varying vec3 vColor;
        uniform vec3 colorsa;
        void main() {
          gl_FragColor = vec4(vColor, vAlpha);
        }
      script(src='/js/lib/d3.js')
      script(src='/js/lib/three.min.js')
      script(src='/js/lib/jquery.js')
      script(src='/js/lib/d3.js')
      script(src='/js/lib/CanvasRenderer.js')
      script(src='/js/lib/TrackballControls.js')
      script(src='/js/lib/Projector.js')
      script(src='/js/lib/stats.js')
      script(src='/js/lib/queue.js')
      script(src='/js/helpers.js')
      script(src='/js/listeners.js')
      script(src='/js/interface.js')
