html, body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}
#controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}
  #controls select {
    width: 105px;
  }
  #controls span {
    margin-left: 5px;
  }
  #search {
    border-radius: 4px;
    height: 15px;
    width: 115px;
    border: 1px solid #666;
    color: #000;
    padding-left: 7px;
    margin-left: 8px;
    margin-bottom: 2px;
  }
  #node {
    pointer-events: none;
    opacity: 0.5;
  }
  #link {
    pointer-events: none;
    opacity: 0.5;
  }
  #threshold {
    margin-top: 5px;
    width: 121px;
    cursor: pointer;
  }
  select {
    margin-left: 5px;
  }
#main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 200px;
}
  .main {
    padding-bottom: 4px;
    border-bottom: 1px solid #666;
  }
  #navigation {
    width: 120px;
    position: absolute;
    top: 35px;
  }
  #navigation span {
    margin-right: 5px;
  }
  #navigation .nav {
    margin: 0;
    cursor: pointer;
    margin-bottom: -8px;
  }
  #navigation .nav.inactive {
    color: #666;
  }
  #navigation .nav:hover {
    color: #00c4f4;
  }
#left {
  position: relative;
  float: left;
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: #333;
  margin: 0;
  padding: 0;
}
#graph {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  overflow: hidden;
}
#matrix {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
#model {
  width: 100%;
  height: calc(100% - 250px);
  background-color: #000;
  padding: 0;
  overflow: hidden;
}
#genomes {
  position: relative;
  float: left;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #000;
  padding: 0;
  overflow-x : scroll;
  overflow-y: hidden;
}
.label {
  font-size: 8px;
}
  .genome {
    position: relative;
    height: 250px;
    background-color: #222;
    border-bottom: 1px solid #333;
    overflow: hidden;
  }
    .genome .graph,.genome .matrix,.genome .model {
      position: relative;
      display: inline-block;
      margin: 25px 0 0 25px;
      float: left;
    }
    .genome .matrix {
      cursor: crosshair;
      overflow: visible;
    }
    .genome canvas {
      cursor: move;
    }
    .genome .model .label {
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      padding: 5px;
      border-radius: 2px;
    }
    .genome .matrix .label {
      font-size: 6px;
    }
    .title {
      position: absolute;
      color: #999;
      font-size: 14px;
      font-weight: 500;
    }
    .genome .title {
      top: 10px;
      left: 10px;
    }
      .title b {
        color: #fff;
      }
    .title .info {
      text-transform: none;
      color: #666;
      font-size: 10px;
    }
#left .node {
  cursor: pointer;
}
#linear {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  bottom: 0;
}
#unpin {
  position: absolute;
  width: 30px;
  height: 20px;
  right: 50%;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  visibility: hidden;
}
  #unpin:hover {
    color: #00c4f4;
  }
#wireframe {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #666;
  cursor: pointer;
}
#lookup {
  position: absolute;
  left: 20px;
  bottom: 35px;
  visibility: hidden;
}
.icon {
  font-size: 20px;
}
.button {
  cursor: pointer;
}
.button:hover {
  color: #00c4f4;
}
::-webkit-scrollbar {
    display: none;
}
