body
  font-family 'Helvetica Neue'
  background-color #333
  color #fff
  font-size 12px

.code
  display inline-block
  background-color #222
  padding 5px
  border-radius 3px
  font-size 12px
  white-space pre
  & span
    color #2587ed
